div {
    text-align: center;
    color: white;
    background-color: red;
    font-size: 2.5rem;
    font-weight: bold;
}

p {
    color: white;
    background-color: green;
    font-size: 1.6rem;
}

button {
    background-color: rgba(243, 169, 48);
    border-color: rgba(151, 151, 151);
    font-size: 1.5rem;
    font-weight: 200;
}